20th August 2023                                                                 PYTHON BASICS PRACTICE ASSIGNMENT 2

>PART 1 : TOPIC: String Based Assignment Problem

In [4]:
'''1.Write a program to reverse a string.'''

#Taking input for string
input_string = input()

#Reverse the inputed string
reversed_string = input_string[::-1]

#Display the reversed string 
print("Reverse string is :", reversed_string)

 Ketan

Reverse string is : nateK

In [3]:
'''2. Check if a string is a palindrome.'''

#Taking input for string
x = input()
w = ""
for i in x:
    w = i + w
 
#Checking the string is a palindrome or not
if (x == w):
    print(f"{x} Is A Palindrome")
else:
    print(f"{x} Is Not A Palindrome")

 Mom

Mom Is Not A Palindrome

In [5]:
'''3. Convert a string to uppercase.'''

#Taking input for string
original_string = input()

#upper method used for upper case
uppercase_string = original_string.upper()

#Displaying the string after converting to upper case
print("Original String: ", original_string)
print("Uppercase String: ", uppercase_string)

 ketan shegulwadkar

Original String:  ketan shegulwadkar
Uppercase String:  KETAN SHEGULWADKAR

In [11]:
'''4. Convert a string to lowercase.'''

#Taking input for string
original_string = input()

#upper method used for lower case
lowercase_string = original_string.lower()

#Displaying the string after converting to lower case
print("Original String: ", original_string)
print("Lowercase String: ", lowercase_string)

 LOWER CASE STRING

Original String:  LOWER CASE STRING
Lowercase String:  lower case string

In [14]:
'''5. Count the number of vowels in a string.'''

#Taking input
input_string = input()
vowels = "aeiouAEIOU"

vowel_count = 0

#Checking vowels in string
for char in input_string:
    if char in vowels:
        vowel_count += 1

#Displaying the number of vowels in the string        
print("Original String: ", input_string)
print("Number of Vowels: ", vowel_count)

 Laser Technique

Original String:  Laser Technique
Number of Vowels:  6

In [2]:
'''6. Count the number of consonants in a string.'''

#Taking Input
input_string = input()
consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"

consonant_count = 0

#Checking consonants in string
for char in input_string:
    if char in consonants:
        consonant_count += 1

        
 #Displaying the number of consonants in the string       
print("Original String: ", input_string)
print("Number of Consonants: ", consonant_count)

 How Are You?

Original String:  How Are You?
Number of Consonants:  4

In [5]:
'''7. Remove all whitespaces from a string.'''

#Taking Input
input_string = input()

# Remove whitespaces using replace
no_whitespace_string = input_string.replace(" ", "")

#Display Result
print("Original String: ", input_string)
print("String without Whitespaces: ", no_whitespace_string)

 ketan shegulwadkar

Original String:  ketan shegulwadkar
String without Whitespaces:  ketanshegulwadkar

In [1]:
'''8. Find the length of a string without using the `len()` function.'''

#Taking Input
input_string = input()

# Finding the length without using len()
length = 0

for char in input_string:
    length += 1

#Displaying String Length
print("Original String: ", input_string)
print("Length of the String: ", length)

 Hello World

Original String:  Hello World
Length of the String:  11

In [11]:
'''9. Check if a string contains a specific word.'''

#Take input
input_string = input("Enter the string :")

#Take Input and Check if the string contains a specific word
specific_word = input("Enter the specific word to check :")
if specific_word in input_string:
    print(f'The string contains the word :"{specific_word}".')
else:
    print(f'The string does not contain the word :"{specific_word}".')

Enter the string : What is your name?
Enter the specific word to check Name

The string does not contain the word "Name".

In [17]:
'''10. Replace a word in a string with another word.'''

#Give Input
original_string = "Hello, World! This is an example."

# Replace a word in the string
old_word = "example"
new_word = "replacement"

modified_string = original_string.replace(old_word, new_word)

print("Original String: ", original_string)
print("Modified String: ", modified_string)

Original String:  Hello, World! This is an example.
Modified String:  Hello, World! This is an replacement.

In [18]:
'''11. Count the occurrences of a word in a string.'''

#Give input
input_string = "This is an example string. This string is just an example."

#Count occurrences of a word in the string
word_to_count = "example"
occurrences = input_string.count(word_to_count)

#Display the final result
print(f'The word "{word_to_count}" appears {occurrences} times in the string.')

The word "example" appears 2 times in the string.

In [21]:
'''12. Find the first occurrence of a word in a string.'''

#Give Input
input_string = "This is an example string. This string is just an example."

# Find the first occurrence of a word in the string
word_to_find = "example"
first_occurrence_index = input_string.find(word_to_find)

if first_occurrence_index != -1:
    print(f'The word "{word_to_find}" first appears at index {first_occurrence_index} in the string.')
else:
    print(f'The word "{word_to_find}" does not appear in the string.')

The word "example" first appears at index 11 in the string.

In [23]:
'''13. Find the last occurrence of a word in a string.'''

#Give Input
input_string = "This is an example string. This string is just an example."

# Find the last occurrence of a word in the string
word_to_find = "string"
last_occurrence_index = input_string.rfind(word_to_find)

if last_occurrence_index != -1:
    print(f'The word "{word_to_find}" last appears at index {last_occurrence_index} in the string.')
else:
    print(f'The word "{word_to_find}" does not appear in the string.')

The word "string" last appears at index 32 in the string.

In [24]:
'''14. Split a string into a list of words.'''

#Give Input
input_string = "This is an example string."

# Split the string into a list of words
word_list = input_string.split()

#Display Result
print("Original String: ", input_string)
print("List of Words: ", word_list)

Original String:  This is an example string.
List of Words:  ['This', 'is', 'an', 'example', 'string.']

In [25]:
'''15. Join a list of words into a string.'''

#Give Input
word_list = ["This", "is", "an", "example", "list."]

# Join the list of words into a string
joined_string = ' '.join(word_list)

print("List of Words: ", word_list)
print("Joined String: ", joined_string)

List of Words:  ['This', 'is', 'an', 'example', 'list.']
Joined String:  This is an example list.

In [26]:
'''16. Convert a string where words are separated by spaces to one where words
are separated by underscores.'''

#Give Input
original_string = "This is an example string with spaces."

# Replace spaces with underscores
modified_string = original_string.replace(' ', '_')

#Display Result
print("Original String: ", original_string)
print("Modified String: ", modified_string)

Original String:  This is an example string with spaces.
Modified String:  This_is_an_example_string_with_spaces.

In [27]:
'''17. Check if a string starts with a specific word or phrase.'''

#Give Input
input_string = "Hello, World! This is an example."

# Check if the string starts with a specific word or phrase
start_word = "Hello"
if input_string.startswith(start_word):
    print(f'The string starts with "{start_word}".')
else:
    print(f'The string does not start with "{start_word}".')

The string starts with "Hello".

In [28]:
'''18. Check if a string ends with a specific word or phrase.'''

#Give Input
input_string = "Hello, World! This is an example."

# Check if the string ends with a specific word or phrase
end_word = "example."
if input_string.endswith(end_word):
    print(f'The string ends with "{end_word}".')
else:
    print(f'The string does not end with "{end_word}".')

The string ends with "example.".

In [30]:
'''19. Convert a string to title case (e.g., "hello world" to "Hello World").'''

#Give Input
original_string = "hello world"

# Convert the string to title case
title_case_string = original_string.title()

#Display Result
print("Original String: ", original_string)
print("Title Case String: ", title_case_string)

Original String:  hello world
Title Case String:  Hello World

In [32]:
'''20. Find the longest word in a string.'''

#Give Input
input_string = "This is an example sentence with some long and short words."

# Split the string into words
words = input_string.split()

# Find the longest word
longest_word = max(words, key=len)

#Display Result
print("Original String: ", input_string)
print("Longest Word: ", longest_word)

Original String:  This is an example sentence with some long and short words.
Longest Word:  sentence

In [33]:
'''21. Find the shortest word in a string.'''

#Give Input
input_string = "This is an example sentence with some long and short words."

# Split the string into words
words = input_string.split()

# Find the shortest word
shortest_word = min(words, key=len)

#Display Result
print("Original String: ", input_string)
print("Shortest Word: ", shortest_word)

Original String:  This is an example sentence with some long and short words.
Shortest Word:  is

In [34]:
'''22. Reverse the order of words in a string.'''


input_string = "This is an example sentence."

# Split the string into words
words = input_string.split()

# Reverse the order of words
reversed_words = reversed(words)

# Join the reversed words into a string
reversed_string = ' '.join(reversed_words)

#Display Result
print("Original String: ", input_string)
print("Reversed String: ", reversed_string)

Original String:  This is an example sentence.
Reversed String:  sentence. example an is This

In [35]:
'''23. Check if a string is alphanumeric.'''

#Give Input
input_string = "Hello123"

# Check if the string is alphanumeric
is_alphanumeric = input_string.isalnum()

if is_alphanumeric:
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

The string is alphanumeric.

In [36]:
'''24. Extract all digits from a string.'''

#Give Input
input_string = "Hello123World456"

# Extract all digits from the string
digits = ''.join(char for char in input_string if char.isdigit())

#Display Result
print("Original String: ", input_string)
print("Extracted Digits: ", digits)

Original String:  Hello123World456
Extracted Digits:  123456

In [37]:
'''25. Extract all alphabets from a string.'''

#Give Input
input_string = "Hello123World"

# Extract all alphabets from the string
alphabets = ''.join(char for char in input_string if char.isalpha())

#Display Result
print("Original String: ", input_string)
print("Extracted Alphabets: ", alphabets)

Original String:  Hello123World
Extracted Alphabets:  HelloWorld

In [6]:
'''26. Count the number of uppercase letters in a string.'''

#Give Input
input_string = input()

#Count the number of uppercase letters in the string
uppercase_count = sum(1 for char in input_string if char.isupper())

#Display Result
print("Original String: ", input_string)
print("Number of Uppercase Letters: ", uppercase_count)

 Ketan Shegulwadkar

Original String:  Ketan Shegulwadkar
Number of Uppercase Letters:  2

In [2]:
'''27. Count the number of lowercase letters in a string.'''

#Give Input
input_string = input()

#Count thr number of lowercase letters in the string
lowercase_count = sum(1 for char in input_string if char.islower())
                     
#Display Result
print("Original String: ", input_string)  
print("Number of Lowercase Letters: ", lowercase_count)

 Ketan Shegulwadkar

Original String:  Ketan Shegulwadkar
Number of Lowercase Letters:  15

In [3]:
'''28. Swap the case of each character in a string.'''
# Give Input
input_string = input()

# Swap the case of each character in the string
swapped_string = input_string.swapcase()

# Display Result
print("Original String: ", input_string)
print("Swapped Case String: ", swapped_string)

 Ketan Shegulwadkar

Original String:  Ketan Shegulwadkar
Swapped Case String:  kETAN sHEGULWADKAR

In [5]:
'''29. Remove a specific word from a string.'''

# Give Input
original_string = "Hello, World! This is an example."

# Remove a specific word from the string
word_to_remove = "example"
modified_string = original_string.replace(word_to_remove,'')

# Display Result
print("Original String: ", original_string)
print("Modified String: ", modified_string)

Original String:  Hello, World! This is an example.
Modified String:  Hello, World! This is an .

In [8]:
'''30. Check if a string is a valid email address.'''

# Give Input
email_address = "user.example@com"

# To Check the number of '@' and '.' in the string
at_count = email_address.count('@')
dot_count = email_address.count('.')

# To Check Given String Is A valid email address or not
if at_count == 1 and dot_count >= 1:
    print(f"{email_address} is a valid email address.")
else:
    print(f"{email_address} is not a valid email address.")

user.example@com is a valid email address.

In [9]:
'''31. Extract the username from an email address string.'''

# Give Input
email_address = "user@example.com"

# Extract the username from the email address
username = email_address.split('@')[0]

# Display Result
print(f"Email Address: {email_address}")
print(f"Username: {username}")

Email Address: user@example.com
Username: user

In [1]:
'''32. Extract the domain name from an email address string.'''

# Give Input
email_address = "user@example.com"

# Extract the domain name from the email address
domain_name = email_address.split('@')[1]

# Display Result
print(f"Email Address: {email_address}")
print(f"Domain Name: {domain_name}")

Email Address: user@example.com
Domain Name: example.com

In [2]:
'''33. Replace multiple spaces in a string with a single space.'''

# Give Input
original_string = "This   is    an    example   with   multiple   spaces."

# Replace multiple spaces with a single space
modified_string = ' '.join(original_string.split())

# Display Result
print("Original String: ", original_string)
print("Modified String: ", modified_string)

Original String:  This   is    an    example   with   multiple   spaces.
Modified String:  This is an example with multiple spaces.

In [3]:
'''34. Check if a string is a valid URL.'''

# Import urlparse from urllib.parse:
from urllib.parse import urlparse

# Define is_valid_url function:
def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False

# Test the function with a sample URL:    
url = "https://www.example.com"
if is_valid_url(url):
    print(f"{url} is a valid URL.")
else:
    print(f"{url} is not a valid URL.")

https://www.example.com is a valid URL.

In [4]:
'''35. Extract the protocol (http or https) from a URL string.'''

# Import urlparse from urllib.parse:
from urllib.parse import urlparse

# The urlparse function is used to parse the input URL (url). 
def extract_protocol(url):
    parsed_url = urlparse(url)
    return parsed_url.scheme

# Example usage
url = "https://www.example.com"
protocol = extract_protocol(url)

# Display Result
print(f"URL: {url}")
print(f"Protocol: {protocol}")

URL: https://www.example.com
Protocol: https

In [5]:
'''36. Find the frequency of each character in a string.'''

# The character_frequency function takes an input string
def character_frequency(input_string):
    
# Uses a dictionary (frequency) to store the counts of each character
    frequency = {}

# Iterates through each character and If the character is already in the dictionary, its count is incremented; otherwise, a new entry is created with a count of 1.
    for char in input_string:
        if char in frequency:
            frequency[char] += 1
        else:
            frequency[char] = 1

    return frequency

# Example usage
input_string = "hello world"
frequency_result = character_frequency(input_string)

# The result is then printed
print(f"Original String: {input_string}")
print("Character Frequency:")
for char, count in frequency_result.items():
    print(f"{char}: {count}")

Original String: hello world
Character Frequency:
h: 1
e: 1
l: 3
o: 2
 : 1
w: 1
r: 1
d: 1

In [8]:
'''37. Remove all punctuation from a string.'''


import string

def remove_punctuation(input_string):
# Create a translation table mapping each punctuation character to None
    translator = str.maketrans('', '', string.punctuation)

# Use translate to remove punctuation from the string
    result_string = input_string.translate(translator)

    return result_string

# Example usage
input_string = "Hello, World! This is an example."
result = remove_punctuation(input_string)

# Display Result
print(f"Original String: {input_string}")
print(f"String without Punctuation: {result}")

Original String: Hello, World! This is an example.
String without Punctuation: Hello World This is an example

In [9]:
'''38. Check if a string contains only digits.'''

# isdigit() is called on the input string, and it returns True if all characters in the string are digits.
def contains_only_digits(input_string):
    return input_string.isdigit()

# Example usage
string1 = "12345"
string2 = "12a45"

# Display Result
print(f"{string1} contains only digits: {contains_only_digits(string1)}")
print(f"{string2} contains only digits: {contains_only_digits(string2)}")

12345 contains only digits: True
12a45 contains only digits: False

In [10]:
'''39. Check if a string contains only alphabets.'''

# isalpha() is called on the input string
def contains_only_alphabets(input_string):
    return input_string.isalpha()

# Example usage
string1 = "Hello"
string2 = "Hello123"

# Display Result
print(f"{string1} contains only alphabets: {contains_only_alphabets(string1)}")
print(f"{string2} contains only alphabets: {contains_only_alphabets(string2)}")

Hello contains only alphabets: True
Hello123 contains only alphabets: False

In [11]:
'''40. Convert a string to a list of characters.'''

# Give Input
input_string = "Hello, World!"

# Convert the string to a list of characters
char_list = list(input_string)

# Display Result
print("Original String: ", input_string)
print("List of Characters: ", char_list)

Original String:  Hello, World!
List of Characters:  ['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']

In [2]:
'''41. Check if two strings are anagrams.'''

#Define Function
def are_anagrams(str1, str2):
    # Sort the characters of both strings and compare
    return sorted(str1) == sorted(str2)

# Example usage
string1 = "ketan"
string2 = "taken"

# Check strings are anagrams or not
if are_anagrams(string1, string2):
    print(f"{string1} and {string2} are anagrams.")
else:
    print(f"{string1} and {string2} are not anagrams.")

ketan and taken are anagrams.

In [3]:
'''42. Encode a string using a Caesar cipher.'''

# Define Function
def caesar_cipher_encrypt(text, shift):
    result = ""

    for char in text:
        if char.isalpha():
            # Determine the case (uppercase or lowercase) of the character
            is_upper = char.isupper()
            
            # Apply the Caesar cipher shift
            char_shifted = chr((ord(char) + shift - ord('A' if is_upper else 'a')) % 26 + ord('A' if is_upper else 'a'))
            
            result += char_shifted
        else:
            # Preserve non-alphabetic characters
            result += char

    return result

# Example usage
plaintext = "Hello, World!"
shift_amount = 3
encrypted_text = caesar_cipher_encrypt(plaintext, shift_amount)

# Display result
print("Original Text: ", plaintext)
print(f"Encrypted Text (Shift {shift_amount}): ", encrypted_text)

Original Text:  Hello, World!
Encrypted Text (Shift 3):  Khoor, Zruog!

In [4]:
'''43. Decode a Caesar cipher encoded string.'''


def caesar_cipher_decrypt(text, shift):
    return caesar_cipher_encrypt(text, -shift)

# Reusing the Caesar cipher encryption function
def caesar_cipher_encrypt(text, shift):
    result = ""

    for char in text:
        if char.isalpha():
            is_upper = char.isupper()
            char_shifted = chr((ord(char) + shift - ord('A' if is_upper else 'a')) % 26 + ord('A' if is_upper else 'a'))
            result += char_shifted
        else:
            result += char

    return result

# Example usage
plaintext = "Hello, World!"
shift_amount = 3
encrypted_text = caesar_cipher_encrypt(plaintext, shift_amount)
decrypted_text = caesar_cipher_decrypt(encrypted_text, shift_amount)

print("Original Text: ", plaintext)
print(f"Encrypted Text (Shift {shift_amount}): ", encrypted_text)
print(f"Decrypted Text: ", decrypted_text)

Original Text:  Hello, World!
Encrypted Text (Shift 3):  Khoor, Zruog!
Decrypted Text:  Hello, World!

In [5]:
'''44. Find the most frequent word in a string.'''

def most_frequent_word(input_string):
    # Convert the string to lowercase and split into words
    words = input_string.lower().split()

    # Create a dictionary to store word frequencies
    frequency = {}

    # Count the frequency of each word
    for word in words:
        if word in frequency:
            frequency[word] += 1
        else:
            frequency[word] = 1

    # Find the word with the maximum frequency
    most_frequent = max(frequency, key=frequency.get)

    return most_frequent

# Example usage
text = "This is an example sentence. This sentence is an example."

result = most_frequent_word(text)
print(f"The most frequent word is: {result}")

The most frequent word is: this

In [11]:
'''45. Find all unique words in a string.'''

def unique_words(input_string):
    # Convert the string to lowercase and split into words
    words = input_string.lower().split()

    # Use a set to store unique words
    unique_word_set = set(words)

    return unique_word_set

# Example usage
text = "This is an example sentence and This sentence is an example"

result = unique_words(text)
print(f"Unique words in the string: {result}")

Unique words in the string: {'example', 'sentence', 'is', 'and', 'an', 'this'}

In [14]:
'''46. Count the number of syllables in a string.'''

import re

def count_syllables(word):
    # Count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

# Example words
word1 = "hello"
word2 = "banana"
word3 = "syllable"

# Count syllables
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

# Print the results
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

In [1]:
'''47. Check if a string contains any special characters.'''

import re

def contains_special_characters(input_string):
    # Use a regular expression to check for special characters
    special_characters = re.compile(r'[^a-zA-Z0-9]')

    # Check if the string contains any special characters
    return bool(special_characters.search(input_string))

# Example usage
text1 = "Hello123"
text2 = "Hello@World"

print(f"{text1} contains special characters: {contains_special_characters(text1)}")
print(f"{text2} contains special characters: {contains_special_characters(text2)}")

Hello123 contains special characters: False
Hello@World contains special characters: True

In [2]:
'''48. Remove the nth word from a string.'''

def remove_nth_word(input_string, n):
    # Split the string into words
    words = input_string.split()

    # Check if the index is valid
    if 0 <= n < len(words):
        # Remove the nth word
        del words[n]

        # Join the words back into a string
        result_string = ' '.join(words)
        return result_string
    else:
        # Index out of range
        return "Invalid index"

# Example usage
original_string = "This is an example sentence."
index_to_remove = 2

result = remove_nth_word(original_string, index_to_remove)
print(f"Original String: {original_string}")
print(f"String after removing the {index_to_remove}th word: {result}")

Original String: This is an example sentence.
String after removing the 2th word: This is example sentence.

In [4]:
'''49. Insert a word at the nth position in a string.'''

def insert_word_at_position(input_string, word_to_insert, n):
    # Split the string into words
    words = input_string.split()

    # Check if the index is valid
    if 0 <= n <= len(words):
        # Insert the word at the nth position
        words.insert(n, word_to_insert)

        # Join the words back into a string
        result_string = ' '.join(words)
        return result_string
    else:
        # Index out of range
        return "Invalid index"

# Example usage
original_string = "This is an example sentence."
word_to_insert = "new"
position_to_insert = 2

result = insert_word_at_position(original_string, word_to_insert, position_to_insert)
print(f"Original String: {original_string}")
print(f"String after inserting '{word_to_insert}' at position {position_to_insert}: {result}")

Original String: This is an example sentence.
String after inserting 'new' at position 2: This is new an example sentence.

In [6]:
'''50. Convert a CSV string to a list of lists.'''

import csv
from io import StringIO

def csv_string_to_list(csv_string):
    # Use StringIO to create a file-like object
    csv_file = StringIO(csv_string)

    # Use the csv.reader to read the CSV data
    csv_reader = csv.reader(csv_file)
    
    # Convert the reader object to a list of lists
    csv_data = list(csv_reader)

    return csv_data

# Example usage
csv_string = "Name, Age, City\nJohn, 25, New York\nAlice, 30, Los Angeles\nBob, 22, Chicago"

csv_list = csv_string_to_list(csv_string)
print("CSV List:")
for row in csv_list:
    print(row)

CSV List:
['Name', ' Age', ' City']
['John', ' 25', ' New York']
['Alice', ' 30', ' Los Angeles']
['Bob', ' 22', ' Chicago']

>PART 2 : TOPIC:List Based Practice Problem

In [8]:
'''1. Create a list with integers from 1 to 10.'''
# Generates integers from 1 to 10
integer_list = list(range(1, 11))

# Display integer list
print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
'''2. Find the length of a list without using the `len()` function.'''

# Define Function
def find_list_length(my_list):
    length = 0
    for _ in my_list:
        length += 1
    return length

# Example usage
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

length_of_list = find_list_length(my_list)
# Display length of list
print(f"Length of the list: {length_of_list}")

Length of the list: 10

In [10]:
'''3. Append an element to the end of a list.'''

my_list = [1, 2, 3, 4, 5]
new_element = 6

# Append the new element to the end of the list
my_list.append(new_element)

# Display Result
print("Updated List:", my_list)

Updated List: [1, 2, 3, 4, 5, 6]

In [11]:
'''4. Insert an element at a specific index in a list.'''

my_list = [1, 2, 3, 4, 5]
new_element = 99
index_to_insert = 2

# Insert the new element at the specified index
my_list.insert(index_to_insert, new_element)

# Display Result
print("Updated List:", my_list)

Updated List: [1, 2, 99, 3, 4, 5]

In [12]:
'''5. Remove an element from a list by its value.'''

my_list = [1, 2, 3, 4, 5]
value_to_remove = 3

# Remove the element with the specified value
my_list.remove(value_to_remove)

# Display Result
print("Updated List:", my_list)

Updated List: [1, 2, 4, 5]

In [14]:
'''6. Remove an element from a list by its index.'''

my_list = [1, 2, 3, 4, 5]
index_to_remove = 2

# Remove the element at the specified index
removed_element = my_list.pop(index_to_remove)

# Display Result
print("Updated List:", my_list)
print("Removed Element:", removed_element)

Updated List: [1, 2, 4, 5]
Removed Element: 3

In [15]:
'''7. Check if an element exists in a list.'''

my_list = [1, 2, 3, 4, 5]
element_to_check = 3

# Check if the element exists in the list
if element_to_check in my_list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

3 exists in the list.

In [17]:
'''8. Find the index of the first occurrence of an element in a list.'''

# Example list
my_list = [10, 20, 30, 40, 50, 30]

# Element to find the index of
element_to_find = 30

# Find the index of the first occurrence of the element
index = my_list.index(element_to_find)

# Print the index
print(f"The index of {element_to_find} is {index}")

The index of 30 is 2

In [18]:
'''9. Count the occurrences of an element in a list.'''

my_list = [1, 2, 3, 4, 3, 5, 3]
element_to_count = 3

# Count the occurrences of the element in the list
occurrences = my_list.count(element_to_count)

print(f"The element {element_to_count} appears {occurrences} times in the list.")

The element 3 appears 3 times in the list.

In [19]:
'''10. Reverse the order of elements in a list.'''

my_list = [1, 2, 3, 4, 5]

# Reverse the order of elements using reverse()
my_list.reverse()

# Display Result
print("Reversed List:", my_list)

Reversed List: [5, 4, 3, 2, 1]

In [20]:
'''11. Sort a list in ascending order.'''

my_list = [5, 2, 8, 1, 3]

# Sort the list in ascending order using sort()
my_list.sort()

# Display Result
print("Sorted List:", my_list)

Sorted List: [1, 2, 3, 5, 8]

In [21]:
'''12. Sort a list in descending order.'''

my_list = [5, 2, 8, 1, 3]

# Sort the list in descending order using sort()
my_list.sort(reverse=True)

# Display Result
print("Sorted List (Descending):", my_list)

Sorted List (Descending): [8, 5, 3, 2, 1]

In [23]:
'''13. Create a list of even numbers from 1 to 20.'''
# generates numbers from 2 to 20,  with a step of 2
even_numbers = [i for i in range(2, 21, 2)]

# Display Result
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [24]:
'''14. Create a list of odd numbers from 1 to 20.'''

# generates numbers from 1 to 19,  with a step of 2
odd_numbers = [i for i in range(1, 21, 2)]

# Display Result
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [25]:
'''15. Find the sum of all elements in a list.'''

my_list = [1, 2, 3, 4, 5]

# Find the sum of all elements using sum()
list_sum = sum(my_list)

# Display Result
print("Sum of all elements:", list_sum)

Sum of all elements: 15

In [26]:
'''16. Find the maximum value in a list.'''

my_list = [3, 7, 1, 9, 4]

# Find the maximum value in the list using max()
max_value = max(my_list)

# Display Result
print("Maximum value:", max_value)

Maximum value: 9

In [28]:
'''17. Find the minimum value in a list.'''

my_list = [3, 7, 1, 9, 4]

# Find the minimum value in the list using min()
min_value = min(my_list)

# Display Result
print("Minimum value:", min_value)

Minimum value: 1

In [29]:
'''18. Create a list of squares of numbers from 1 to 10.'''

# generates numbers from 1 to 10 and the list creates a list containing the squares of these numbers.
squares = [i**2 for i in range(1, 11)]

# Display Result
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [30]:
'''19. Create a list of random numbers.'''

import random

# Create a list of 5 random numbers between 1 and 10
random_numbers = [random.randint(1, 10) for _ in range(5)]

# Display Result
print(random_numbers)

[9, 8, 5, 3, 8]

In [31]:
'''20. Remove duplicates from a list.'''


my_list = [1, 2, 2, 3, 4, 4, 5]

# Remove duplicates by converting to a set and back to a list
unique_list = list(set(my_list))

# Display Result
print("Original List:", my_list)
print("List with Duplicates Removed:", unique_list)

Original List: [1, 2, 2, 3, 4, 4, 5]
List with Duplicates Removed: [1, 2, 3, 4, 5]

In [32]:
'''21. Find the common elements between two lists.'''

list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Find common elements using set intersection
common_elements = list(set(list1).intersection(list2))

# Display Result
print("List 1:", list1)
print("List 2:", list2)
print("Common Elements:", common_elements)

List 1: [1, 2, 3, 4, 5]
List 2: [3, 4, 5, 6, 7]
Common Elements: [3, 4, 5]

In [33]:
'''22. Find the difference between two lists.'''

list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Find the difference using set difference
difference_list1 = list(set(list1) - set(list2))
difference_list2 = list(set(list2) - set(list1))

# Display Result
print("List 1:", list1)
print("List 2:", list2)
print("Elements unique to List 1:", difference_list1)
print("Elements unique to List 2:", difference_list2)

List 1: [1, 2, 3, 4, 5]
List 2: [3, 4, 5, 6, 7]
Elements unique to List 1: [1, 2]
Elements unique to List 2: [6, 7]

In [34]:
'''23. Merge two lists.'''

list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Merge lists using the + operator
merged_list = list1 + list2

# Display Result
print("List 1:", list1)
print("List 2:", list2)
print("Merged List:", merged_list)

List 1: [1, 2, 3]
List 2: [4, 5, 6]
Merged List: [1, 2, 3, 4, 5, 6]

In [35]:
'''24. Multiply all elements in a list by 2.'''

original_list = [1, 2, 3, 4, 5]

# Multiply all elements by 2 using list comprehension
doubled_list = [element * 2 for element in original_list]

# Display Result
print("Original List:", original_list)
print("Doubled List:", doubled_list)

Original List: [1, 2, 3, 4, 5]
Doubled List: [2, 4, 6, 8, 10]

In [36]:
'''25. Filter out all even numbers from a list.'''

original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Filter out even numbers using list comprehension
filtered_list = [element for element in original_list if element % 2 != 0]

# Display Result
print("Original List:", original_list)
print("Filtered List (without even numbers):", filtered_list)

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Filtered List (without even numbers): [1, 3, 5, 7, 9]

In [37]:
'''26. Convert a list of strings to a list of integers.'''

string_list = ["1", "2", "3", "4", "5"]

# Convert list of strings to list of integers using list comprehension
integer_list = [int(element) for element in string_list]

# Display Result
print("Original List of Strings:", string_list)
print("Converted List of Integers:", integer_list)

Original List of Strings: ['1', '2', '3', '4', '5']
Converted List of Integers: [1, 2, 3, 4, 5]

In [38]:
'''27. Convert a list of integers to a list of strings.'''

integer_list = [1, 2, 3, 4, 5]

# Convert list of integers to list of strings using list comprehension
string_list = [str(element) for element in integer_list]

# Display Result
print("Original List of Integers:", integer_list)
print("Converted List of Strings:", string_list)

Original List of Integers: [1, 2, 3, 4, 5]
Converted List of Strings: ['1', '2', '3', '4', '5']

In [41]:
'''28. Flatten a nested list.'''

# Flatten_list function recursively processes each element of the nested list
def flatten_list(nested_list):
    flat_list = []
    for element in nested_list:
        if isinstance(element, list):
            flat_list.extend(flatten_list(element))
        else:
            flat_list.append(element)
    return flat_list

nested_list = [1, [2, 3], [4, [5, 6]], 7]

# Flatten the nested list using recursion
flattened_list = flatten_list(nested_list)

# Display Result
print("Nested List:", nested_list)
print("Flattened List:", flattened_list)

Nested List: [1, [2, 3], [4, [5, 6]], 7]
Flattened List: [1, 2, 3, 4, 5, 6, 7]

In [42]:
'''29. Create a list of the first 10 Fibonacci numbers.'''

fibonacci_numbers = [0, 1]

# Generate the first 8 Fibonacci numbers
for i in range(2, 10):
    next_fibonacci = fibonacci_numbers[i-1] + fibonacci_numbers[i-2]
    fibonacci_numbers.append(next_fibonacci)

# Display Result    
print("First 10 Fibonacci Numbers:", fibonacci_numbers)

First 10 Fibonacci Numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [43]:
'''30. Check if a list is sorted.'''

# Define Function
def is_sorted(input_list):
    return all(input_list[i] <= input_list[i + 1] for i in range(len(input_list) - 1))

# Example usage
sorted_list = [1, 2, 3, 4, 5]
unsorted_list = [3, 1, 4, 1, 5, 9, 2]

# Display Result
print("Is the list sorted?", is_sorted(sorted_list))  # Should print: True
print("Is the list sorted?", is_sorted(unsorted_list))  # Should print: False

Is the list sorted? True
Is the list sorted? False

In [44]:
'''31. Rotate a list to the left by `n` positions.'''

# Define Function
def rotate_left(input_list, n):
    n = n % len(input_list)  # Ensure n is within the length of the list
    return input_list[n:] + input_list[:n]

# Example usage
my_list = [1, 2, 3, 4, 5]

rotated_list = rotate_left(my_list, 2)

# Display Result
print("Original List:", my_list)
print("Rotated List:", rotated_list)

Original List: [1, 2, 3, 4, 5]
Rotated List: [3, 4, 5, 1, 2]

In [45]:
'''32. Rotate a list to the right by `n` positions.'''

# Define Function
def rotate_right(input_list, n):
    n = n % len(input_list)  # Ensure n is within the length of the list
    return input_list[-n:] + input_list[:-n]

# Example usage
my_list = [1, 2, 3, 4, 5]

rotated_list = rotate_right(my_list, 2)

# Display Result
print("Original List:", my_list)
print("Rotated List:", rotated_list)

Original List: [1, 2, 3, 4, 5]
Rotated List: [4, 5, 1, 2, 3]

In [46]:
'''33. Create a list of prime numbers up to 50.'''

# Define Function
def is_prime(number):
    if number < 2:
        return False
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return False
    return True

# Generate a list of prime numbers up to 50
primes_up_to_50 = [num for num in range(2, 51) if is_prime(num)]

# Display Result
print("Prime Numbers up to 50:", primes_up_to_50)

Prime Numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [47]:
'''34. Split a list into chunks of size `n`.'''

# Define Function
def split_into_chunks(input_list, chunk_size):
    return [input_list[i:i + chunk_size] for i in range(0, len(input_list), chunk_size)]

# Example usage
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

chunks = split_into_chunks(my_list, 3)

# Display Result
print("Original List:", my_list)
print("Chunks of Size 3:", chunks)

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Chunks of Size 3: [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

In [48]:
'''35. Find the second largest number in a list.'''

def second_largest(input_list):
    # Make a copy of the list to avoid modifying the original
    unique_elements = list(set(input_list))

    # Find the maximum element
    max_element = max(unique_elements)

    # Remove the maximum element
    unique_elements.remove(max_element)

    # Find the new maximum element (second largest)
    second_largest_element = max(unique_elements)

    return second_largest_element

# Example usage
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]

result = second_largest(my_list)

# Display Result
print("Original List:", my_list)
print("Second Largest Element:", result)

Original List: [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
Second Largest Element: 6

In [49]:
'''36. Replace every element in a list with its square.'''

original_list = [1, 2, 3, 4, 5]

# Replace every element with its square using list comprehension
squared_list = [element**2 for element in original_list]

# Display Result
print("Original List:", original_list)
print("Squared List:", squared_list)

Original List: [1, 2, 3, 4, 5]
Squared List: [1, 4, 9, 16, 25]

In [50]:
'''37. Convert a list to a dictionary where list elements become keys and their indices become values.'''

original_list = ['apple', 'banana', 'orange', 'grape']

# Convert the list to a dictionary with elements as keys and indices as values
result_dict = {element: index for index, element in enumerate(original_list)}

# Display Result
print("Original List:", original_list)
print("Resulting Dictionary:", result_dict)

Original List: ['apple', 'banana', 'orange', 'grape']
Resulting Dictionary: {'apple': 0, 'banana': 1, 'orange': 2, 'grape': 3}

In [51]:
'''38. Shuffle the elements of a list randomly.'''


import random

original_list = [1, 2, 3, 4, 5]

# Shuffle the elements of the list randomly
random.shuffle(original_list)

# Display Result
print("Original List:", original_list)

Original List: [2, 1, 5, 4, 3]

In [52]:
'''39. Create a list of the first 10 factorial numbers.'''

import math

# Calculates the factorial of each number from 0 to 9 using the math.factorial()
factorial_numbers = [math.factorial(i) for i in range(10)]

# Display Result
print("First 10 Factorial Numbers:", factorial_numbers)

First 10 Factorial Numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [53]:
'''40. Check if two lists have at least one element in common.'''

def have_common_element(list1, list2):
    return any(element in list1 for element in list2)

# Example usage
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]

result = have_common_element(list1, list2)

# Display Result
print("List 1:", list1)
print("List 2:", list2)
print("Do the lists have a common element?", result)

List 1: [1, 2, 3, 4, 5]
List 2: [5, 6, 7, 8, 9]
Do the lists have a common element? True

In [54]:
'''41. Remove all elements from a list.'''

my_list = [1, 2, 3, 4, 5]

# Clear all elements from the list
my_list.clear()

# Display Result
print("List after clearing:", my_list)

List after clearing: []

In [55]:
'''42. Replace negative numbers in a list with 0.'''


original_list = [1, -2, 3, -4, 5, -6]

# Replace negative numbers with 0 using list comprehension
modified_list = [max(0, num) for num in original_list]

# Display Result
print("Original List:", original_list)
print("Modified List:", modified_list)

Original List: [1, -2, 3, -4, 5, -6]
Modified List: [1, 0, 3, 0, 5, 0]

In [56]:
'''43. Convert a string into a list of words.'''

# Give Input
sentence = "This is a sample sentence."

# Convert the string into a list of words
word_list = sentence.split()

# Display Result
print("Original Sentence:", sentence)
print("List of Words:", word_list)

Original Sentence: This is a sample sentence.
List of Words: ['This', 'is', 'a', 'sample', 'sentence.']

In [58]:
'''44. Convert a list of words into a string.'''

word_list = ['This', 'is', 'a', 'sample', 'sentence.']

# Convert the list of words into a string
sentence = ' '.join(word_list)

# Display Result
print("List of Words:", word_list)
print("Converted String:", sentence)

List of Words: ['This', 'is', 'a', 'sample', 'sentence.']
Converted String: This is a sample sentence.

In [60]:
'''45. Create a list of the first `n` powers of 2.'''

n = 5  # Replace with the desired number of powers of 2

# Create a list of the first n powers of 2
powers_of_2 = [2**i for i in range(n)]

# Display Result
print(f"The first {n} powers of 2:", powers_of_2)

The first 5 powers of 2: [1, 2, 4, 8, 16]

In [61]:
'''46. Find the longest string in a list of strings.'''

string_list = ['apple', 'banana', 'kiwi', 'strawberry', 'blueberry']

# Find the longest string in the list
longest_string = max(string_list, key=len)

# Display Result
print("List of Strings:", string_list)
print("Longest String:", longest_string)

List of Strings: ['apple', 'banana', 'kiwi', 'strawberry', 'blueberry']
Longest String: strawberry

In [62]:
'''47. Find the shortest string in a list of strings.'''

string_list = ['apple', 'banana', 'kiwi', 'strawberry', 'blueberry']

# Find the shortest string in the list
shortest_string = min(string_list, key=len)

# Display Result
print("List of Strings:", string_list)
print("Shortest String:", shortest_string)

List of Strings: ['apple', 'banana', 'kiwi', 'strawberry', 'blueberry']
Shortest String: kiwi

In [63]:
'''48. Create a list of the first `n` triangular numbers.'''

n = 5  # Replace with the desired number of triangular numbers

# Create a list of the first n triangular numbers
triangular_numbers = [i * (i + 1) // 2 for i in range(1, n + 1)]

print(f"The first {n} triangular numbers:", triangular_numbers)

The first 5 triangular numbers: [1, 3, 6, 10, 15]

In [64]:
'''49. Check if a list contains another list as a subsequence.'''

# Define Function
def is_subsequence(subsequence, sequence):
    it = iter(sequence)
    return all(element in it for element in subsequence)

# Example usage
sequence = [1, 2, 3, 4, 5, 6, 7, 8]
subsequence1 = [2, 4, 6]
subsequence2 = [3, 7, 9]

result1 = is_subsequence(subsequence1, sequence)
result2 = is_subsequence(subsequence2, sequence)

# Display Result
print("Sequence:", sequence)
print("Subsequence 1:", subsequence1)
print("Is Subsequence 1:", result1)

print("Subsequence 2:", subsequence2)
print("Is Subsequence 2:", result2)

Sequence: [1, 2, 3, 4, 5, 6, 7, 8]
Subsequence 1: [2, 4, 6]
Is Subsequence 1: True
Subsequence 2: [3, 7, 9]
Is Subsequence 2: False

In [65]:
'''50. Swap two elements in a list by their indices.'''

# Define Function
def swap_elements(lst, index1, index2):
    # Check if indices are within the range of the list
    if 0 <= index1 < len(lst) and 0 <= index2 < len(lst):
        # Swap elements using a temporary variable
        lst[index1], lst[index2] = lst[index2], lst[index1]

# Example usage
my_list = [1, 2, 3, 4, 5]

print("Original List:", my_list)

# Swap elements at indices 1 and 3
swap_elements(my_list, 1, 3)

# Display Result
print("List after swapping:", my_list)

Original List: [1, 2, 3, 4, 5]
List after swapping: [1, 4, 3, 2, 5]

>PART 3 : TOPIC : Tuple Based Practice Problem

In [2]:
'''1. Create a tuple with integers from 1 to 5.'''

#  The tuple (1, 2, 3, 4, 5) is assigned to the variable my_tuple
my_tuple = (1, 2, 3, 4, 5)

# Display Result
print("Tuple:", my_tuple)

Tuple: (1, 2, 3, 4, 5)

In [4]:
'''2. Access the third element of a tuple.'''

#  The tuple (1, 2, 3, 4, 5) is assigned to the variable my_tuple
my_tuple = (1, 2, 3, 4, 5)

# Access the third element (index 2)
third_element = my_tuple[2]

# Display Result
print("Tuple:", my_tuple)
print("Third Element:", third_element)

Tuple: (1, 2, 3, 4, 5)
Third Element: 3

In [5]:
'''3. Find the length of a tuple without using the `len()` function.'''

#  The tuple (1, 2, 3, 4, 5) is assigned to the variable my_tuple
my_tuple = (1, 2, 3, 4, 5)

# Find the length of the tuple without using len()
tuple_length = sum(1 for _ in my_tuple)

# Display Result
print("Tuple:", my_tuple)
print("Length of the Tuple:", tuple_length)

Tuple: (1, 2, 3, 4, 5)
Length of the Tuple: 5

In [6]:
'''4. Count the occurrences of an element in a tuple.'''

#  The tuple (1, 2, 2, 3, 4, 2, 5) is assigned to the variable my_tuple
my_tuple = (1, 2, 2, 3, 4, 2, 5)

# Count the occurrences of the element 2 in the tuple
element_count = my_tuple.count(2)

# Display Result
print("Tuple:", my_tuple)
print("Occurrences of 2:", element_count)

Tuple: (1, 2, 2, 3, 4, 2, 5)
Occurrences of 2: 3

In [7]:
'''5. Find the index of the first occurrence of an element in a tuple.'''

#  The tuple (1, 2, 3, 4, 5) is assigned to the variable my_tuple
my_tuple = (1, 2, 3, 4, 2, 5)

# Find the index of the first occurrence of the element 2 in the tuple
element_index = my_tuple.index(2)

# Display Result
print("Tuple:", my_tuple)
print("Index of the first occurrence of 2:", element_index)

Tuple: (1, 2, 3, 4, 2, 5)
Index of the first occurrence of 2: 1

In [8]:
'''6. Check if an element exists in a tuple.'''

#  The tuple (1, 2, 3, 4, 5) is assigned to the variable my_tuple
my_tuple = (1, 2, 3, 4, 5)

# Check if the element 3 exists in the tuple
element_exists = 3 in my_tuple

# Display Result
print("Tuple:", my_tuple)
print("Does 3 exist in the tuple?", element_exists)

Tuple: (1, 2, 3, 4, 5)
Does 3 exist in the tuple? True

In [9]:
'''7. Convert a tuple to a list.'''

#  The tuple (1, 2, 3, 4, 5) is assigned to the variable my_tuple
my_tuple = (1, 2, 3, 4, 5)

# Convert the tuple to a list
my_list = list(my_tuple)

# Display Result
print("Tuple:", my_tuple)
print("List:", my_list)

Tuple: (1, 2, 3, 4, 5)
List: [1, 2, 3, 4, 5]

In [10]:
'''8. Convert a list to a tuple.'''

#  The list (1, 2, 3, 4, 5) is assigned to the variable my_list
my_list = [1, 2, 3, 4, 5]

# Convert the list to a tuple
my_tuple = tuple(my_list)

# Display Result
print("List:", my_list)
print("Tuple:", my_tuple)

List: [1, 2, 3, 4, 5]
Tuple: (1, 2, 3, 4, 5)

In [11]:
'''9. Unpack the elements of a tuple into variables.'''

#  The tuple (1, 2, 3) is assigned to the variable my_tuple
my_tuple = (1, 2, 3)

# Unpack the tuple into variables
var1, var2, var3 = my_tuple

print("Tuple:", my_tuple)
print("Unpacked Variables:", var1, var2, var3)

Tuple: (1, 2, 3)
Unpacked Variables: 1 2 3

In [12]:
'''10. Create a tuple of even numbers from 1 to 10.'''

# Create a tuple of even numbers from 1 to 10
even_numbers_tuple = tuple(i for i in range(2, 11, 2))

# Display Result
print("Tuple of Even Numbers:", even_numbers_tuple)

Tuple of Even Numbers: (2, 4, 6, 8, 10)

In [13]:
'''11. Create a tuple of odd numbers from 1 to 10.'''

# Create a tuple of odd numbers from 1 to 10
odd_numbers_tuple = tuple(i for i in range(1, 11, 2))

# Display Result
print("Tuple of Odd Numbers:", odd_numbers_tuple)

Tuple of Odd Numbers: (1, 3, 5, 7, 9)

In [16]:
'''12. Concatenate two tuples.'''
# Declare Tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Concatenate two tuples
concatenated_tuple = tuple1 + tuple2

# Display Result
print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("Concatenated Tuple:", concatenated_tuple)

Tuple 1: (1, 2, 3)
Tuple 2: (4, 5, 6)
Concatenated Tuple: (1, 2, 3, 4, 5, 6)

In [17]:
'''13. Repeat a tuple three times.'''

# Declare Tupke
original_tuple = (1, 2, 3)

# Repeat the tuple three times
repeated_tuple = original_tuple * 3

# Display Result
print("Original Tuple:", original_tuple)
print("Repeated Tuple:", repeated_tuple)

Original Tuple: (1, 2, 3)
Repeated Tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [18]:
'''14. Check if a tuple is empty.'''

my_tuple = ()

# Check if the tuple is empty
is_empty = len(my_tuple) == 0

# Display Result
print("Tuple:", my_tuple)
print("Is the tuple empty?", is_empty)

Tuple: ()
Is the tuple empty? True

In [19]:
'''15. Create a nested tuple.'''

nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# Display Result
print("Nested Tuple:", nested_tuple)

Nested Tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

In [20]:
'''16. Access the first element of a nested tuple.'''

nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# Access the first element of the nested tuple
first_element = nested_tuple[0]

# Display Result
print("Nested Tuple:", nested_tuple)
print("First Element:", first_element)

Nested Tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))
First Element: (1, 2, 3)

In [22]:
'''17. Create a tuple with a single element.'''

single_element_tuple = (42)

# Display Result
print("Single Element Tuple:", single_element_tuple)

Single Element Tuple: 42

In [23]:
'''18. Compare two tuples.'''

tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Compare two tuples
result = tuple1 == tuple2

# Display Result
print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("Are the tuples equal?", result)

Tuple 1: (1, 2, 3)
Tuple 2: (1, 2, 4)
Are the tuples equal? False

In [27]:
'''19. Delete a tuple.'''

my_tuple = (1, 2, 3, 4, 5)

# Display the tuple before deletion
print("Original Tuple:", my_tuple)

# Delete the entire tuple
del my_tuple

# Attempting to print the tuple after deletion will raise an error
# print("After Deletion:", my_tuple)  # Uncommenting this line will result in an error

Original Tuple: (1, 2, 3, 4, 5)

In [28]:
'''20. Slice a tuple.'''

my_tuple = (1, 2, 3, 4, 5)

# Slice the tuple to get a subset
subset_tuple = my_tuple[1:4]

# Display Result
print("Original Tuple:", my_tuple)
print("Subset Tuple:", subset_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Subset Tuple: (2, 3, 4)

In [29]:
'''21. Find the maximum value in a tuple.'''

my_tuple = (10, 5, 8, 12, 3)

# Find the maximum value in the tuple
max_value = max(my_tuple)

# Display Result
print("Tuple:", my_tuple)
print("Maximum Value:", max_value)

Tuple: (10, 5, 8, 12, 3)
Maximum Value: 12

In [30]:
'''22. Find the minimum value in a tuple.'''

my_tuple = (10, 5, 8, 12, 3)

# Find the minimum value in the tuple
min_value = min(my_tuple)

# Display Result
print("Tuple:", my_tuple)
print("Minimum Value:", min_value)

Tuple: (10, 5, 8, 12, 3)
Minimum Value: 3

In [32]:
'''23. Convert a string to a tuple of characters.'''

my_string = "hello"

# Convert the string to a tuple of characters
tuple_of_characters = tuple(my_string)

# Display Result
print("String:", my_string)
print("Tuple of Characters:", tuple_of_characters)

String: hello
Tuple of Characters: ('h', 'e', 'l', 'l', 'o')

In [35]:
'''24. Convert a tuple of characters to a string.'''

tuple_of_characters = ('H', 'e', 'l', 'l', 'o', ' ', 'K', 'E', 'T', 'A', 'N')

# Convert the tuple of characters to a string
string_from_tuple = ''.join(tuple_of_characters)

# Display Result
print("Tuple of Characters:", tuple_of_characters)
print("String from Tuple:", string_from_tuple)

Tuple of Characters: ('H', 'e', 'l', 'l', 'o', ' ', 'K', 'E', 'T', 'A', 'N')
String from Tuple: Hello KETAN

In [36]:
'''25. Create a tuple from multiple data types.'''

# Declare Tuple 
mixed_tuple = (1, 'hello', 3.14, True, [1, 2, 3])

# Display Result
print("Mixed Tuple:", mixed_tuple)

Mixed Tuple: (1, 'hello', 3.14, True, [1, 2, 3])

In [2]:
'''26. Check if two tuples are identical.'''

# Declare Tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

# Check if the two tuples are identical
are_identical = tuple1 == tuple2

# Display Result
print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("Are the tuples identical?", are_identical)

Tuple 1: (1, 2, 3)
Tuple 2: (1, 2, 3)
Are the tuples identical? True

In [3]:
'''27. Sort the elements of a tuple.'''

# Declare Tuple
my_tuple = (3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5)

# Convert the tuple to a list, sort the list, and convert it back to a tuple
sorted_tuple = tuple(sorted(list(my_tuple)))

# Display Result
print("Original Tuple:", my_tuple)
print("Sorted Tuple:", sorted_tuple)

Original Tuple: (3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5)
Sorted Tuple: (1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9)

In [4]:
'''28. Convert a tuple of integers to a tuple of strings.'''

# Declare Tuple
tuple_of_integers = (1, 2, 3, 4, 5)

# Convert the tuple of integers to a tuple of strings
tuple_of_strings = tuple(str(i) for i in tuple_of_integers)

# Display Result
print("Tuple of Integers:", tuple_of_integers)
print("Tuple of Strings:", tuple_of_strings)

Tuple of Integers: (1, 2, 3, 4, 5)
Tuple of Strings: ('1', '2', '3', '4', '5')

In [6]:
'''29. Convert a tuple of strings to a tuple of integers.'''

# Declare Tuple
tuple_of_strings = ('1', '2', '3', '4', '5')

# Convert the tuple of strings to a tuple of integers
tuple_of_integers = tuple(int(s) for s in tuple_of_strings)

# Display Result
print("Tuple of Strings:", tuple_of_strings)
print("Tuple of Integers:", tuple_of_integers)

Tuple of Strings: ('1', '2', '3', '4', '5')
Tuple of Integers: (1, 2, 3, 4, 5)

In [7]:
'''30. Merge two tuples.'''

# Declare Tuple
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')

# Merge two tuples
merged_tuple = tuple1 + tuple2

# Display Result
print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("Merged Tuple:", merged_tuple)

Tuple 1: (1, 2, 3)
Tuple 2: ('a', 'b', 'c')
Merged Tuple: (1, 2, 3, 'a', 'b', 'c')

In [8]:
'''31. Flatten a nested tuple.'''

# Using library itertools.chain
from itertools import chain

nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# Flatten the nested tuple
flattened_tuple = tuple(chain(*nested_tuple))

print("Nested Tuple:", nested_tuple)
print("Flattened Tuple:", flattened_tuple)

Nested Tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))
Flattened Tuple: (1, 2, 3, 'a', 'b', 'c', True, False)

In [10]:
'''32. Create a tuple of the first 5 prime numbers.'''

# This generate_primes function generates prime numbers until it reaches the specified count n
def generate_primes(n):
    primes = []
    num = 2

# Using while loop
    while len(primes) < n:
        for p in primes:
            if num % p == 0:
                break
        else:
            primes.append(num)
        num += 1

    return tuple(primes)

# Calls the function with an argument of 5, generating the first 5 prime numbers.
first_5_primes = generate_primes(5)

# Display Result
print("Tuple of the First 5 Prime Numbers:", first_5_primes)

Tuple of the First 5 Prime Numbers: (2, 3, 5, 7, 11)

In [11]:
'''33. Check if a tuple is a palindrome.'''

# The is_palindrome function checks if a tuple is a palindrome by comparing it with its reverse using the == operator and slicing with [::-1].
def is_palindrome(t):
    return t == t[::-1]

# Example usage
palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)

# Display Result
print("Is Palindrome Tuple a palindrome?", is_palindrome(palindrome_tuple))
print("Is Non-Palindrome Tuple a palindrome?", is_palindrome(non_palindrome_tuple))

Is Palindrome Tuple a palindrome? True
Is Non-Palindrome Tuple a palindrome? False

In [12]:
'''34. Create a tuple of squares of numbers from 1 to 5.'''

# x**2 calculates the square of each number x in the range from 1 to 5. The tuple(...) converts the result into a tuple.
squares_tuple = tuple(x**2 for x in range(1, 6))

# Display Result
print("Tuple of Squares:", squares_tuple)

Tuple of Squares: (1, 4, 9, 16, 25)

In [14]:
'''35. Filter out all even numbers from a tuple.'''

# Declare Tuple
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Filter out even numbers from the original tuple
filtered_tuple = tuple(x for x in original_tuple if x % 2 != 0)

# Display Result
print("Original Tuple:", original_tuple)
print("Filtered Tuple (Without Even Numbers):", filtered_tuple)

Original Tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Filtered Tuple (Without Even Numbers): (1, 3, 5, 7, 9)

In [15]:
'''36. Multiply all elements in a tuple by 2.'''

# Declare Tuple
original_tuple = (1, 2, 3, 4, 5)

# Multiply all elements by 2
doubled_tuple = tuple(x * 2 for x in original_tuple)

# Display Result
print("Original Tuple:", original_tuple)
print("Doubled Tuple:", doubled_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Doubled Tuple: (2, 4, 6, 8, 10)

In [17]:
'''37. Create a tuple of random numbers.'''

import random

# Create a tuple of 5 random numbers between 1 and 100
random_tuple = tuple(random.randint(1, 100) for _ in range(5))

# Display Result
print("Random Tuple:", random_tuple)

Random Tuple: (66, 78, 44, 1, 99)

In [18]:
'''38. Check if a tuple is sorted.'''

# The is_sorted function takes a tuple t, sorts it using sorted(t), and then compares the sorted tuple with the original tuple using the equality operator (==).
def is_sorted(t):
    return tuple(sorted(t)) == t

# Example usage
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)

# Display Result
print("Is Sorted Tuple sorted?", is_sorted(sorted_tuple))
print("Is Unsorted Tuple sorted?", is_sorted(unsorted_tuple))

Is Sorted Tuple sorted? True
Is Unsorted Tuple sorted? False

In [19]:
'''39. Rotate a tuple to the left by `n` positions.'''

def rotate_left(t, n):
    n = n % len(t)  # Ensure n is within the length of the tuple
    return t[n:] + t[:n]

# Example usage
original_tuple = (1, 2, 3, 4, 5)
rotation_positions = 2

rotated_tuple = rotate_left(original_tuple, rotation_positions)

# Display Result
print(f"Original Tuple: {original_tuple}")
print(f"Rotated Tuple to the Left by {rotation_positions} Positions: {rotated_tuple}")

Original Tuple: (1, 2, 3, 4, 5)
Rotated Tuple to the Left by 2 Positions: (3, 4, 5, 1, 2)

In [20]:
'''40. Rotate a tuple to the right by `n` positions.'''

def rotate_right(t, n):
    n = n % len(t)  # Ensure n is within the length of the tuple
    return t[-n:] + t[:-n]

# Example usage
original_tuple = (1, 2, 3, 4, 5)
rotation_positions = 2

rotated_tuple = rotate_right(original_tuple, rotation_positions)

# Display Result
print(f"Original Tuple: {original_tuple}")
print(f"Rotated Tuple to the Right by {rotation_positions} Positions: {rotated_tuple}")

Original Tuple: (1, 2, 3, 4, 5)
Rotated Tuple to the Right by 2 Positions: (4, 5, 1, 2, 3)

In [21]:
'''41. Create a tuple of the first 5 Fibonacci numbers.'''

def generate_fibonacci(n):
    fibonacci_numbers = [0, 1]

    while len(fibonacci_numbers) < n:
        next_fibonacci = fibonacci_numbers[-1] + fibonacci_numbers[-2]
        fibonacci_numbers.append(next_fibonacci)

    return tuple(fibonacci_numbers)

# Example usage
first_5_fibonacci = generate_fibonacci(5)

# Display Result
print("Tuple of the First 5 Fibonacci Numbers:", first_5_fibonacci)

Tuple of the First 5 Fibonacci Numbers: (0, 1, 1, 2, 3)

In [22]:
'''42. Create a tuple from user input.'''

# Get a string of comma-separated values from the user
user_input_str = input("Enter a comma-separated list of values: ")

# Split the input string into a list using commas as the delimiter
values_list = user_input_str.split(',')

# Convert the list of strings to a tuple of values
user_tuple = tuple(values_list)

print("User Input Tuple:", user_tuple)

Enter a comma-separated list of values:  1,2,3,4,5

User Input Tuple: ('1', '2', '3', '4', '5')

In [23]:
'''43. Swap two elements in a tuple.'''

def swap_elements(t, i, j):
    # Convert the tuple to a list
    temp_list = list(t)
    
    # Swap the elements at indices i and j
    temp_list[i], temp_list[j] = temp_list[j], temp_list[i]
    
    # Convert the list back to a tuple
    swapped_tuple = tuple(temp_list)
    
    return swapped_tuple

# Example usage
original_tuple = (1, 2, 3, 4, 5)
index1 = 1
index2 = 3

swapped_tuple = swap_elements(original_tuple, index1, index2)

# Display Result
print("Original Tuple:", original_tuple)
print(f"Swapped Tuple (Elements at indices {index1} and {index2} swapped):", swapped_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Swapped Tuple (Elements at indices 1 and 3 swapped): (1, 4, 3, 2, 5)

In [24]:
'''44. Reverse the elements of a tuple.'''

def reverse_tuple(t):
    return t[::-1]

# Example usage
original_tuple = (1, 2, 3, 4, 5)

reversed_tuple = reverse_tuple(original_tuple)

# Display Result
print("Original Tuple:", original_tuple)
print("Reversed Tuple:", reversed_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Reversed Tuple: (5, 4, 3, 2, 1)

In [25]:
'''45. Create a tuple of the first `n` powers of 2.'''

def powers_of_2(n):
    return tuple(pow(2, i) for i in range(n))

# Example usage
n = 5

powers_tuple = powers_of_2(n)

# Display Result
print(f"Tuple of the First {n} Powers of 2:", powers_tuple)

Tuple of the First 5 Powers of 2: (1, 2, 4, 8, 16)

In [26]:
'''46. Find the longest string in a tuple of strings.'''

def longest_string(t):
    return max(t, key=len)

# Example usage
string_tuple = ("apple", "banana", "kiwi", "strawberry", "blueberry")

longest_str = longest_string(string_tuple)

# Display Result
print("Tuple of Strings:", string_tuple)
print("Longest String:", longest_str)

Tuple of Strings: ('apple', 'banana', 'kiwi', 'strawberry', 'blueberry')
Longest String: strawberry

In [28]:
'''47. Find the shortest string in a tuple of strings.'''

def find_shortest_string(strings):
    if not strings:
        return None  # Return None for an empty tuple

    shortest_string = min(strings, key=len)
    return shortest_string

# Example usage:
my_tuple = ("apple", "banana", "kiwi", "orange", "grape")
shortest = find_shortest_string(my_tuple)

# Display Result
print("Shortest string:", shortest)

Shortest string: kiwi

In [29]:
'''48. Create a tuple of the first `n` triangular numbers.'''

def generate_triangular_numbers(n):
    triangular_numbers = [i * (i + 1) // 2 for i in range(1, n + 1)]
    return tuple(triangular_numbers)

# Example usage:
n = 5
triangular_tuple = generate_triangular_numbers(n)

# Display Result
print("First", n, "triangular numbers:", triangular_tuple)

First 5 triangular numbers: (1, 3, 6, 10, 15)

In [31]:
'''49. Check if a tuple contains another tuple as a subsequence.'''

def is_subsequence(sub, full):
    sub_len = len(sub)
    full_len = len(full)

    for i in range(full_len - sub_len + 1):
        if full[i:i + sub_len] == sub:
            return True

    return False

# Example usage:
tuple1 = (1, 2, 3, 4, 5, 6, 7)
tuple2 = (3, 4, 5)

result = is_subsequence(tuple2, tuple1)

# Display Result
if result:
    print("Tuple2 is a subsequence of Tuple1.")
else:
    print("Tuple2 is not a subsequence of Tuple1.")

Tuple2 is a subsequence of Tuple1.

In [32]:
'''50. Create a tuple of alternating 1s and 0s of length `n`.'''

def create_alternating_tuple(n):
    alternating_tuple = tuple(i % 2 for i in range(n))
    return alternating_tuple

# Example usage:
n = 8
alternating_tuple = create_alternating_tuple(n)

# Display Result
print("Alternating tuple:", alternating_tuple)

Alternating tuple: (0, 1, 0, 1, 0, 1, 0, 1)

>PART 4 : TOPIC : SET Based Practice Problem

In [35]:
'''1. Create a set with integers from 1 to 5.'''

# Declare set with integers
my_set = {1, 2, 3, 4, 5}
# OR
# my_set = set([1, 2, 3, 4, 5])

# Display Result
print("Set:", my_set)

Set: {1, 2, 3, 4, 5}

In [36]:
'''2. Add an element to a set.'''

# Declare set with integers
my_set = {1, 2, 3, 4, 5}

# Adding an element to the set
my_set.add(6)

# Display Result
print("Updated Set:", my_set)

Updated Set: {1, 2, 3, 4, 5, 6}

In [37]:
'''3. Remove an element from a set.'''

# Declare set with integers
my_set = {1, 2, 3, 4, 5}

# Removing an element from the set
my_set.remove(3)

# Display Result
print("Updated Set:", my_set)

Updated Set: {1, 2, 4, 5}

In [38]:
'''4. Check if an element exists in a set.'''

# Declare set with integers
my_set = {1, 2, 3, 4, 5}

# Check if an element exists in the set using __contains__
element_to_check = 3

# Display Result
if my_set.__contains__(element_to_check):
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

3 exists in the set.

In [39]:
'''5. Find the length of a set without using the `len()` function.'''

def find_set_length(input_set):
    length = 0
    for _ in input_set:
        length += 1
    return length

# Example usage:
my_set = {1, 2, 3, 4, 5}
set_length = find_set_length(my_set)

# Display Result
print("Length of the set:", set_length)

Length of the set: 5

In [40]:
'''6. Clear all elements from a set.'''

# Display Result
my_set = {1, 2, 3, 4, 5}

# Clear all elements from the set
my_set.clear()

# Display Result
print("Set after clearing:", my_set)

Set after clearing: set()

In [41]:
'''7. Create a set of even numbers from 1 to 10.'''

# Generates a set containing even numbers from 1 to 10. The condition if x % 2 == 0 filters out odd numbers, leaving only the even ones
even_numbers_set = {x for x in range(1, 11) if x % 2 == 0}

# Display Result
print("Set of even numbers:", even_numbers_set)

Set of even numbers: {2, 4, 6, 8, 10}

In [42]:
'''8. Create a set of odd numbers from 1 to 10.'''

# generates a set containing odd numbers from 1 to 10. The condition if x % 2 != 0 filters out even numbers, leaving only the odd ones
odd_numbers_set = {x for x in range(1, 11) if x % 2 != 0}

# Display Result
print("Set of odd numbers:", odd_numbers_set)

Set of odd numbers: {1, 3, 5, 7, 9}

In [43]:
'''9. Find the union of two sets.'''

# Declare Sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Using the union() method
union_result_method = set1.union(set2)

# Using the | operator
union_result_operator = set1 | set2

# Display Result
print("Union using union():", union_result_method)
print("Union using | operator:", union_result_operator)

Union using union(): {1, 2, 3, 4, 5, 6, 7, 8}
Union using | operator: {1, 2, 3, 4, 5, 6, 7, 8}

In [44]:
'''10. Find the intersection of two sets.'''

# Declare Sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Using the intersection() method
intersection_result_method = set1.intersection(set2)

# Using the & operator
intersection_result_operator = set1 & set2

# Display Result
print("Intersection using intersection():", intersection_result_method)
print("Intersection using & operator:", intersection_result_operator)

Intersection using intersection(): {4, 5}
Intersection using & operator: {4, 5}

In [45]:
'''11. Find the difference between two sets.'''

# Declare Sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Using the difference() method
difference_result_method = set1.difference(set2)

# Using the - operator
difference_result_operator = set1 - set2

# Display Result
print("Difference using difference():", difference_result_method)
print("Difference using - operator:", difference_result_operator)

Difference using difference(): {1, 2, 3}
Difference using - operator: {1, 2, 3}

In [46]:
'''12. Check if a set is a subset of another set.'''

# Declare Sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Display Result
if is_subset:
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

set2 is a subset of set1.

In [47]:
'''13. Check if a set is a superset of another set.'''

# Declare Sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4}

# Check if set1 is a superset of set2
is_superset = set1.issuperset(set2)

# Display Result
if is_superset:
    print("set1 is a superset of set2.")
else:
    print("set1 is not a superset of set2.")

set1 is a superset of set2.

In [48]:
'''14. Create a set from a list.'''

# Declare List
my_list = [1, 2, 3, 4, 5]

# Create a set from the list
my_set = set(my_list)

# Display Result
print("Set from list:", my_set)

Set from list: {1, 2, 3, 4, 5}

In [49]:
'''15. Convert a set to a list.'''

# Declare Set
my_set = {1, 2, 3, 4, 5}

# Convert the set to a list
my_list = list(my_set)

# Display Result
print("List from set:", my_list)

List from set: [1, 2, 3, 4, 5]

In [51]:
'''16. Remove a random element from a set.'''

# Declare Set
my_set = {1, 2, 3, 4, 5}

# Remove a random element from the set using pop()
removed_element = my_set.pop()

# Display Result
print("Set after removing a random element:", my_set)
print("Removed element:", removed_element)

Set after removing a random element: {2, 3, 4, 5}
Removed element: 1

In [52]:
'''17. Pop an element from a set.'''

# Declare Set
my_set = {1, 2, 3, 4, 5}

# Pop an element from the set
popped_element = my_set.pop()

# Display Result
print("Set after popping an element:", my_set)
print("Popped element:", popped_element)

Set after popping an element: {2, 3, 4, 5}
Popped element: 1

In [54]:
'''18. Check if two sets have no elements in common.'''

# Declare Sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Check if the sets have no elements in common
no_common_elements = set1.isdisjoint(set2)

# Display Result
if no_common_elements:
    print("The sets have no elements in common.")
else:
    print("The sets have elements in common.")

The sets have no elements in common.

In [55]:
'''19. Find the symmetric difference between two sets.'''

# Declare Sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Using the symmetric_difference() method
symmetric_difference_result_method = set1.symmetric_difference(set2)

# Using the ^ operator
symmetric_difference_result_operator = set1 ^ set2

# Display Result
print("Symmetric difference using symmetric_difference():", symmetric_difference_result_method)
print("Symmetric difference using ^ operator:", symmetric_difference_result_operator)

Symmetric difference using symmetric_difference(): {1, 2, 3, 6, 7, 8}
Symmetric difference using ^ operator: {1, 2, 3, 6, 7, 8}

In [56]:
'''20. Update a set with elements from another set.'''

# Declare Sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Update set1 with elements from set2
set1.update(set2)

# Display Result
print("Updated set1:", set1)

Updated set1: {1, 2, 3, 4, 5}

In [57]:
'''21. Create a set of the first 5 prime numbers.'''

# Declare Set
prime_numbers_set = {2, 3, 5, 7, 11}

# Display Result
print("Set of the first 5 prime numbers:", prime_numbers_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [58]:
'''22. Check if two sets are identical.'''

# Declare Sets
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

# Check if sets are identical using the == operator
are_identical = set1 == set2

# Display Result
if are_identical:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [59]:
'''23. Create a frozen set.'''

# Declare Set
my_set = {1, 2, 3, 4, 5}

# Create a frozen set from the existing set
frozen_set = frozenset(my_set)

# Display Result
print("Frozen set:", frozen_set)

Frozen set: frozenset({1, 2, 3, 4, 5})

In [60]:
'''24. Check if a set is disjoint with another set.'''

# Declare Sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Check if the sets are disjoint
are_disjoint = set1.isdisjoint(set2)

# Display Result
if are_disjoint:
    print("The sets are disjoint.")
else:
    print("The sets have elements in common.")

The sets are disjoint.

In [61]:
'''25. Create a set of squares of numbers from 1 to 5.'''

squares_set = {x**2 for x in range(1, 6)}

# Display Result
print("Set of squares:", squares_set)

Set of squares: {1, 4, 9, 16, 25}

In [63]:
'''26. Filter out all even numbers from a set.'''

# Declare Set
original_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Filter out even numbers using a set comprehension
filtered_set = {x for x in original_set if x % 2 != 0}

# Display Result
print("Original set:", original_set)
print("Filtered set (without even numbers):", filtered_set)

Original set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Filtered set (without even numbers): {1, 3, 5, 7, 9}

In [64]:
'''27. Multiply all elements in a set by 2.'''

# Declare Set
original_set = {1, 2, 3, 4, 5}

# Convert the set to a list, multiply each element by 2, and create a new set
modified_set = {x * 2 for x in original_set}

# Display Result
print("Original set:", original_set)
print("Modified set (elements multiplied by 2):", modified_set)

Original set: {1, 2, 3, 4, 5}
Modified set (elements multiplied by 2): {2, 4, 6, 8, 10}

In [65]:
'''28. Create a set of random numbers.'''

import random

# Create a set of 5 random numbers between 1 and 10
random_set = {random.randint(1, 10) for _ in range(5)}

# Display Result
print("Random set:", random_set)

Random set: {8, 10, 4, 7}

In [66]:
'''29. Check if a set is empty.'''

# Method 1: Using len()
my_set = set()

if len(my_set) == 0:
    print("The set is empty.")
else:
    print("The set is not empty.")

# Method 2: Using boolean context
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.
The set is empty.

In [67]:
'''30. Create a nested set (hint: use frozenset).'''

# Declare Nested Set
nested_set = {frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({7, 8, 9})}

# Display Nested Set
print("Nested set:", nested_set)

Nested set: {frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({8, 9, 7})}

In [69]:
'''31. Remove an element from a set using the discard method.'''

# Declare Set
my_set = {1, 2, 3, 4, 5}

# Remove an element using discard()
my_set.discard(3)

# Display Result
print("Set after removing element:", my_set)

Set after removing element: {1, 2, 4, 5}

In [70]:
'''32. Compare two sets.'''

# Declare Set
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

are_equal = set1 == set2

# Display Result
if are_equal:
    print("The sets are equal.")
else:
    print("The sets are not equal.")

The sets are equal.

In [71]:
'''33. Create a set from a string.'''

my_string = "hello"

# Create a set from the string
my_set = set(my_string)

# Display Result
print("Set from string:", my_set)

Set from string: {'e', 'l', 'h', 'o'}

In [73]:
'''34. Convert a set of strings to a set of integers.'''

# Declare Set
string_set = {"1", "2", "3", "4", "5"}

# Convert the set of strings to a set of integers
integer_set = {int(x) for x in string_set}

# Display Result
print("Set of integers:", integer_set)

Set of integers: {1, 2, 3, 4, 5}

In [74]:
'''35. Convert a set of integers to a set of strings.'''

# Declare Set
integer_set = {1, 2, 3, 4, 5}

# Convert the set of integers to a set of strings
string_set = {str(x) for x in integer_set}

# Display Result
print("Set of strings:", string_set)

Set of strings: {'1', '4', '3', '2', '5'}

In [75]:
'''36. Create a set from a tuple.'''

# Declare Set
my_tuple = (1, 2, 3, 4, 5)

# Create a set from the tuple
my_set = set(my_tuple)

# Display Result
print("Set from tuple:", my_set)

Set from tuple: {1, 2, 3, 4, 5}

In [76]:
'''37. Convert a set to a tuple.'''

# Declare Set
my_set = {1, 2, 3, 4, 5}

# Convert the set to a tuple
my_tuple = tuple(my_set)

# Display Result
print("Tuple from set:", my_tuple)

Tuple from set: (1, 2, 3, 4, 5)

In [77]:
'''38. Find the maximum value in a set.'''

# Declare Set
my_set = {10, 5, 8, 20, 15}

# Find the maximum value in the set
max_value = max(my_set)

# Display Result
print("Maximum value in the set:", max_value)

Maximum value in the set: 20

In [78]:
'''39. Find the minimum value in a set.'''

# Declare Set
my_set = {10, 5, 8, 20, 15}

# Find the minimum value in the set
min_value = min(my_set)

# Display Result
print("Minimum value in the set:", min_value)

Minimum value in the set: 5

In [79]:
'''40. Create a set from user input.'''

# Get user input as a string
user_input_str = input("Enter elements separated by spaces: ")

# Split the input string into a list of elements
user_input_list = user_input_str.split()

# Convert the list to a set
user_set = set(user_input_list)

# Display Result
print("Set from user input:", user_set)

Enter elements separated by spaces:  Hello World

Set from user input: {'World', 'Hello'}

In [80]:
'''41. Check if the intersection of two sets is empty.'''

# Declare Sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Check if the sets have no elements in common (intersection is empty)
is_disjoint = set1.isdisjoint(set2)

# Display Result
if is_disjoint:
    print("The sets have no elements in common (intersection is empty).")
else:
    print("The sets have elements in common.")

The sets have no elements in common (intersection is empty).

In [81]:
'''42. Create a set of the first 5 Fibonacci numbers.'''

# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_set = set()
    a, b = 0, 1
    for _ in range(n):
        fibonacci_set.add(a)
        a, b = b, a + b
    return fibonacci_set

# Create a set of the first 5 Fibonacci numbers
first_five_fibonacci = generate_fibonacci(5)

# Display Result
print("Set of the first 5 Fibonacci numbers:", first_five_fibonacci)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

In [85]:
'''43. Remove duplicates from a list using sets.'''

# Declare a list
original_list = [1, 2, 3, 2, 4, 5, 6, 4]

# Remove duplicates using sets
unique_list = list(set(original_list))

# Display Result
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [1, 2, 3, 2, 4, 5, 6, 4]
List with Duplicates Removed: [1, 2, 3, 4, 5, 6]

In [86]:
'''44. Check if two sets have the same elements, regardless of their count.'''

# Declare Sets
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

# Check if the sets have the same elements
have_same_elements = set1 == set2

# Display Result
if have_same_elements:
    print("The sets have the same elements, regardless of their count.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements, regardless of their count.

In [87]:
'''45. Create a set of the first `n` powers of 2.'''

n = 5

# Create a set of the first n powers of 2
powers_of_two_set = {2 ** i for i in range(n)}

# Display Result
print("Set of the first {} powers of 2:".format(n), powers_of_two_set)

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

In [88]:
'''46. Find the common elements between a set and a list.'''

# Declare Set and List
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]

# Find common elements using the intersection method
common_elements = my_set.intersection(my_list)

# Display Result
print("Common elements:", common_elements)

Common elements: {3, 4, 5}

In [89]:
'''47. Create a set of the first `n` triangular numbers.'''

n = 5

# Create a set of the first n triangular numbers
triangular_numbers_set = {(i * (i + 1)) // 2 for i in range(1, n + 1)}

# Display Result
print("Set of the first {} triangular numbers:".format(n), triangular_numbers_set)

Set of the first 5 triangular numbers: {1, 3, 6, 10, 15}

In [91]:
'''48. Check if a set contains another set as a subset.'''

# Declaring Sets
set1 = {1, 2, 3, 4, 5, 6, 7}
set2 = {2, 4, 6}

# Check if set2 is a subset of set1 using issubset() method
is_subset_method = set2.issubset(set1)

# Check if set2 is a subset of set1 using the subset operator
is_subset_operator = set2 <= set1

# Display Result
if is_subset_method:
    print("set2 is a subset of set1 using issubset() method.")
else:
    print("set2 is not a subset of set1 using issubset() method.")

if is_subset_operator:
    print("set2 is a subset of set1 using the subset operator.")
else:
    print("set2 is not a subset of set1 using the subset operator.")

set2 is a subset of set1 using issubset() method.
set2 is a subset of set1 using the subset operator.

In [92]:
'''49. Create a set of alternating 1s and 0s of length `n`.'''

n = 8

# Create a set of alternating 1s and 0s of length n
alternating_set = {i % 2 for i in range(n)}

# Display Result
print("Set of alternating 1s and 0s of length {}:".format(n), alternating_set)

Set of alternating 1s and 0s of length 8: {0, 1}

In [94]:
'''50. Merge multiple sets into one.'''

# Declaring Sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Merge sets using the union() method
merged_set_method = set1.union(set2, set3)

# Merge sets using the union operator
merged_set_operator = set1 | set2 | set3

# Display Result
print("Merged set using the union() method:", merged_set_method)
print("Merged set using the union operator:", merged_set_operator)

Merged set using the union() method: {1, 2, 3, 4, 5, 6, 7}
Merged set using the union operator: {1, 2, 3, 4, 5, 6, 7}